
#head{
   
    background-color:rosybrown;
   // background-image: url("header.jpg");
   // max-width: 100%;
}
#search{
    
    background-color: cadetblue;
}
#res_op{
    //position: absolute;
    background-color:cyan;
}
#search_input{
    width: 30%;
   
}

#basket{
    //position:absolute;
    //right: 0;
    float: right;
    text-align: right;
    padding-right: 50px;
}
#login{
    //float:left;
    
}


/* from http://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link */
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
