
#head{
   
    background-color:rosybrown;
   // background-image: url("header.jpg");
   // max-width: 100%;
}
#search{
    
    background-color: cadetblue;
}

#res_op{
    //position: absolute;
    background-color:cyan;
}
#search_input{
    width: 30%;
   
}

#basket{
    //position:absolute;
    //right: 0;
    float: right;
    text-align: right;
    padding-right: 50px;
}
#login{
    //float:left;
    
}
#cart{
    background-color: aliceblue;
    border-style: solid;
    white-space: pre;
}
